<html>
    <title>The best place to fleet your beats in the streets!</title>
    <body>
        <h1>FleetBeatStreet</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% if 'username' in session %}
            <h3>Posts by people you follow:</h3>
            <ul>
            {% for post in posts %}
            {% if session['username'] != post.username %}
                <li><a href="/profile/{{ post.username }}">{{ post.username }}</a> said: {{ post.content }} at {{ time.ctime(post.timestamp) }}</li>
            {% else %}
                <li>You said: {{ post.content }} at {{ time.ctime(post.timestamp) }}</li>
            {% endif %}
            {% endfor %}
            </ul>
            <h5>Post:</h5>
            <form name=post action='/post' method=POST>
                <input type="text" name="content">
                <button type="submit">Submit</button>
            </form>
            <a href="/logout">logout</a>
        {% else %}
            <p><a href="/register">Register.</a></p>
            <p><a href="/login">Login.</a></p>
        {% endif %}
    </body>
</html>
